
body{
  /*background-color: #18191a;*/
  background-repeat: no-repeat;
  background-size: cover;
}

.cardtoFlip {
  perspective: 1000px;
}

.card__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
}

.card__inner.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--back {
  transform: rotateY(180deg);
}

.user{
  position: relative;
 }

 .profile img{

  
  height: 100px;
  width: 100px;
  margin-top:2px;

 
 }

 .profile{

  position: absolute;
  top:-50px;
  left: 38%;
  height: 110px;
  width: 110px;
  border:3px solid #fff;

  border-radius: 50%;

 }