<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/static/css/LoginPage/Bootstrap.css">
    <link rel="stylesheet" href="/static/css/LoginPage/LoginPage.css"/>
    <link rel="stylesheet" href="/static/css/LoginPage/NavbarOnly.css">

    <link rel="icon" href="/static/images/favicon.png">

</head>

<body style="background-image: url(/static/images/Background.jpg)">
<div th:replace="fragments/Sidebar :: headerOnly"></div>
<div class="cardtoFlip">
    <div class="card__inner">
        <div id="frontCard" class="card__face card__face--front">
            <div class="container" style="margin-top: 100px;">
                <div class="row justify-content-center">
                    <div class="col-md-7 col-lg-5">
                        <div class="wrap">
                            <div class="img" style="background-image: url(/static/images/BG-Top.jpg);"></div>

                            <div class="login-wrap p-4 p-md-5">
                                <div class="d-flex">
                                    <div class="w-100">
                                        <h3 class="mb-4">Sign In</h3>
                                    </div>
                                </div>

                                <form name="f" th:action="@{/login}" method="post" class="signin-form">

                                    <div th:if="${param.error}" class="">
                                        Wrong Email or Password!
                                    </div>

                                    <div th:if="${param.logout}">
                                        Successfully Logged Out!
                                    </div>

                                    <div class="form-group mt-3">
                                        <input name="username" type="email" class="form-control" required>
                                        <label class="form-control-placeholder">Mail</label>
                                    </div>
                                    <div class="form-group">
                                        <input name="password" id="password-field" type="password" class="form-control" required>
                                        <label class="form-control-placeholder">Password</label>
                                        <span toggle="#password-field" class="fa fa-fw fa-eye-slash field-icon toggle-password"></span>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
                                    </div>
                                    <div class="form-group d-md-flex">
                                        <div class="w-50 text-left">
                                            <label class="checkbox-wrap checkbox-primary mb-0">Remember Me<input type="checkbox" checked><span class="checkmark"></span></label>
                                        </div>
                                    </div>
                                </form>
                                <p class="text-center">Not a member? <a id="FlipBtnFront" data-toggle="tab" href="">Sign Up</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card__face card__face--back">
            <div>
                <div class="card__face card__face--front">
                    <div>
                        <div class="container" style="margin-top: 100px;">
                            <div class="row justify-content-center">
                                <div class="col-md-7 col-lg-5">
                                    <div class="wrap">

                                        <div style="cursor: pointer;" id="profileImageDIV">
                                            <div class="img" style="background-image: url(/static/images/BG-Top.jpg);"></div>

                                            <div class="user text-center">
                                                <div class="profile">
                                                    <img id="registerImage" src="https://st3.depositphotos.com/6672868/13701/v/600/depositphotos_137014128-stock-illustration-user-profile-icon.jpg" class="rounded-circle">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="login-wrap p-4 p-md-5">
                                            <div class="d-flex">
                                                <div class="w-100">
                                                    <h3 class="mb-4">Sign Up</h3>
                                                </div>
                                            </div>
                                            <form id="signUpForm" class="signin-form">
                                                <div class="form-group mt-3">
                                                    <input id="registerName" type="text" class="form-control" required>
                                                    <label class="form-control-placeholder">Name</label>
                                                </div>

                                                <div class="form-group mt-3">
                                                    <input id="registerSurname" type="text" class="form-control" required>
                                                    <label class="form-control-placeholder">Surname</label>
                                                </div>

                                                <div class="form-group mt-3">
                                                    <input id="registerMail" type="email" class="form-control" required>
                                                    <label class="form-control-placeholder">Mail Address</label>
                                                </div>

                                                <div class="form-group">
                                                    <input id="registerPassword" type="password" class="form-control" required>
                                                    <label class="form-control-placeholder">Password</label>
                                                </div>

                                                <div class="form-group">
                                                    <input id="registerPasswordConfirm" type="password" class="form-control" required>
                                                    <label class="form-control-placeholder">Confirm Password</label>
                                                </div>

                                                <div class="form-group mt-3">
                                                    <span id="validationCodeSpan">Confirmation Code</span>
                                                    <input id="validationCode" type="text" class="form-control" required>
                                                </div>

                                                <div class="form-group">
                                                    <input id="registerStatus" type="text" class="form-control" readonly>
                                                </div>

                                                <div class="form-group">
                                                    <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign Up</button>
                                                </div>
                                            </form>
                                            <p class="text-center">Are you a member? <a id="FlipBtnBack" data-toggle="tab" href="#">Sign In</a></p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/LoginPage/LoginPage.js"></script>
<script src="/static/js/LoginPage/PasswordToggle.js"></script>

<script type="module" src="/static/js/LoginPage/Firebase.js"></script>
<script type="module" src="/static/js/LoginPage/Register.js"></script>

</body>
</html>