@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

body {
    background: #18191a;
    font-family: "Roboto", sans-serif;
}

.account-card {
    min-height: 410px;
}

.shadow {
    /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;*/
    border-radius: 75px !important;
}

.account-title {
    color: #fff;
}

.profile-tab-nav {
    min-width: 250px;
}

.tab-content {
    flex: 1;
}

.form-group {
    margin-bottom: 1.5rem;
}

.nav {
    align-self: center;
    margin-bottom: 1.5rem;
}
.nav-pills a.nav-link {
    padding: 15px 20px;
    border-radius: 0;
    color: #333;
}
.nav-pills a.nav-link i {
    width: 20px;
}
.nav-pills .nav-link.active {
    border-radius: 15px;
}

.img-circle img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    /*border: 5px solid #fff;*/
}

.container-fluid#blur.active {
    filter: blur(10px);
    pointer-events: none;
    user-select: none;
}

#popup,
#resultPopup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border-radius: 25px;
}

#popup.active,
#resultPopup.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#resultPopup div {
    text-align: center;
}

.toggle-password-old:before,
.toggle-password-new:before,
.toggle-password-retype:before {
    position: absolute;
    top: 42%;
    right: 25px;
    transform: translateY(-50%);
}

.password {
    margin-right: 35px;
}

#validationCode,
#imageUpdateStatus{
    margin-top: 3px;
}

#resultConfirmButton {
    color: #FFFFFF;
    text-decoration: unset;
}